# TODO update list
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2022.6.15
charset-normalizer==2.0.12
idna==3.3
pip==22.0.4
requests==2.28.0
setuptools==62.1.0
soupsieve==2.3.2.post1
urllib3==1.26.9
wheel==0.37.1
dateparser~=1.1.1
mysql-connector-python~=8.0.29
PyQt5==5.15.4